## PyCaret Classifying Iris Dataset

In [1]:
import pycaret 
import pandas as pd

In [2]:
irisData = pd.read_csv("IRIS.csv")

In [4]:
seenData = irisData.sample(frac = 0.95)
 
unseenData = irisData.drop(seenData.index)

In [5]:
irisData.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [6]:
from pycaret.classification import *

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [8]:
exp_name = setup(data=seenData , target= "Species")

In [9]:
best= compare_models()

In [10]:
newPred = predict_model(best, data=unseenData )

In [11]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [12]:
# model tuning 
lda_model = create_model(best)

In [15]:
tuned_lda = tune_model(lda_model , )

In [16]:

# save model to disk
save_model(tuned_lda , 'irismodel4')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='Species',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_stra...
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LogisticRegression(C=1.153, class_weight='balanced',
                                     dual=False, fit_intercept=True,
                                     intercept_scaling=1, l1_ratio=None,
                                     max_iter=1000, multi_class='auto',
                                     n_jobs=None, penalty='l2',
                                     random_state=8390, solver='lbfgs',
                                     tol=0.0001, verbose=0, warm_start=False)]],
          verbose=False),
 'irismodel4.pkl')